body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

video {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  transform: scaleX(-1);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.navbar a i {
  font-size: 45px;
} 
.logo img{
  width: 150px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}
.navbar .signup-btn {
  background-color: #22c55e;
  padding: 10px 20px;
  border-radius: 5px;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 100px;
  background-color: rgba(0, 0, 0, 0);
}
.hero-text {
  max-width: 50%;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}
.hero-text p {
  font-size: 20px;
  font-weight: 400;
}
.hero-buttons {
  margin-top: 30px;
}
.hero-buttons .btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.hero-buttons .btn.download {
  background-color: #22c55e;
  border-color: #22c55e;
}
.hero-image {
  max-width: 50%;
}
.hero-image img {
  width: 100%;
}
.social-container {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 20px;
}
.social-icons {
  display: flex;
  flex-direction: column;
}
.social-icons a {
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}