body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

video {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  transform: scaleX(-1);
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 100px;
  background-color: rgba(0, 0, 0, 0);
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}

.hero-text p {
  font-size: 20px;
  font-weight: 400;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-buttons .btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.hero-buttons .btn.download {
  background-color: #22c55e;
  border-color: #22c55e;
}

.hero-image {
  max-width: 50%;
}

.hero-image img {
  width: 100%;
}

.social-container {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 20px;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons a {
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.hover-text-bottom,
.hover-text-left,
.hover-text-right {
  display: inline-block;
  position: absolute;
  opacity: 0;
  transform: translate(0);
  white-space: nowrap;
}

.hover-text-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.hover-text-left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
}

.navbar a:hover .hover-text-bottom,
.social-icons a:hover .hover-text-left,
.logo:hover .hover-text-right {
  opacity: 1;
  animation: fadeInMove 0.5s ease forwards;
}

.navbar a:hover i,
.social-icons a:hover i,
.logo:hover img {
  transform: scale(1.2);
}

.logo:hover img {
  transform: rotate(360deg);
}

.logo:hover .hover-text-right {
  opacity: 1;
  animation: fadeInMove 0.5s ease forwards;
}


@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Specific hover colors for social icons */
.social-icons a:hover .bi-facebook {
  color: #1877f2;
}

.social-icons a:hover .bi-twitter {
  color: #1da1f2;
}

.social-icons a:hover .bi-instagram {
  color: #c32aa3;
}

.social-icons a:hover .bi-youtube {
  color: #ff0000;
}

.navbar a:hover .bi-stars,
.navbar a:hover .bi-house-fill,
.navbar a:hover .bi-rocket-takeoff-fill {
  color: yellow;
}
